/*////////////// Fonts //////////////*/

@font-face {
	font-family: 'Baskerville';
	src: url(../fonts/Baskerville.ttc);
}

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
}

h1 {
  font-family: 'Baskerville', serif;
  font-size : 5em;
  color: rgb(152,173,166);
  border-bottom: 1px solid #ccc;
  margin: 0 0 5px;
}

h2 {
  font-size: 2em;
  color: rgb(111,127,122)
}

footer{
  text-align: right;
  font-size: .8em;
}

#photo img{
  border: 5px rgb(111,127,122) solid;
}

#press img{
  border: 5px #ccc solid;
}

#press img:hover{
  border: 5px rgb(111,127,122) solid;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */